body {
  font-family: 'Saira Condensed', sans-serif;
  background-color: #F4F5FA;
}

.left-side {
  background-image: url('./img/image3.png'); /* Reemplaza con tu imagen de fondo */
  background-size: cover;
  background-position: center;
  color: white;
  align-items: center;
  height: 100vh;
}

.login-form h1 {
  font-family: 'Saira Stencil One', cursive;
  font-weight: 400;
  font-size: 70px;
  color: #d7b730;
}

.btn-atlantic{
  background-color: #d7b730;
  color: #fff;
  font-size: 14px;
}

.btn-atlantic:hover{
  background-color: #8f770d;
}
